.gameInterface {
  margin-top: 1em;
  background-color: #ffd062;
  flex-grow: 1;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gameInterface > .quiz_cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.gameInterface > h3 {
  text-align: center;
}
.gameInterface > div > h3 {
  text-align: center;

}
.gameInterfaceDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  background-color: #ffd062;
  height: 300px;
  padding: 20px;
}
.move_back {
  width: 100%;
  padding: 20px;
}
.description {
  text-align: center;
}
.actionDescription {
  text-align: center;
  margin: 20px 0px;
}

.answerOptions {
  display: flex;
 
  flex-wrap: wrap;
  justify-content: space-between;
}
.answerOptions button {
  width: calc(50% - 10px);
  height: 90px;
  margin: 10px 0px;
  background-color: white;
}
.clickedWrongOption {
  background-color: rgb(255, 84, 84) !important;
}
.clickedCorrectOption {
  background-color: rgb(72, 255, 127) !important;
}
