.board::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}
.board::-webkit-scrollbar
{
	width: 9px;
	background-color: white;
}
.board::-webkit-scrollbar-thumb
{
	background-color: #3399DA;
}
.board{
  

  
    width: calc(100%  - 400px);
    max-width: calc(150px * 9 + 40px);
   
    max-height: calc(100vh);
    
    padding: 20px;
   
}
.board_inner{
   
    position: relative;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.drawPin{
   position: relative;
}
.removePin:after{
   
    width: 20px;
    height: 20px;
    position: absolute;
    content: '';
    background-color: black;
    z-index: 3;
    transition: 0.3s;
    animation: drawPin 1s ;
    animation: removePin 1s forwards;
}
.drawPin:after{
    width: 20px;
    height: 20px;
    position: absolute;
    content: '';
    background-color: black;
    z-index: 3;
    transition: 0.3s;
    animation: drawPin 1s ;
}

@keyframes removePin {
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}

@keyframes drawPin {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}













.grid::-webkit-scrollbar {
    display: none;
  }

.grid{
    
    overflow: scroll;
    cursor: grab;
    display: grid;
    gap: 0px 0px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    background-color: #FED164;
    height: calc(100% );
  position: relative;
}

.grid:after{
   position: absolute;
   top:2em;
   content: '';
   width: 100%;
   height: 2em;
}



.grid>div{
   
    /*width: 14.2857142857%;*/
    width:150px;
    height: 150px;

    
    position: relative;
}
.grid>div:not(.grid>div.empty){
    
    
    background: url(../../public/images/water.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.grid>div:nth-child(17), 
.grid>div:nth-child(53),
.grid>div:nth-child(89){
    background: url(../../public/images/water_top_right.jpg) !important;
}
.grid>div:nth-child(26),
.grid>div:nth-child(38),
.grid>div:nth-child(74),
.grid>div:nth-child(62),
.grid>div:nth-child(98),
.grid>div:nth-child(110)
{
    background: url(../../public/images/water_mid.jpg) !important;
}
.grid>div:nth-child(35), 
.grid>div:nth-child(71),
.grid>div:nth-child(107){
    background: url(../../public/images/water_bot_right.jpg) !important;
}



.grid>div:nth-child(29),
.grid>div:nth-child(65),
.grid>div:nth-child(101){
    background: url(../../public/images/water_top_left.jpg) !important;
}
.grid>div:nth-child(47),
.grid>div:nth-child(83),
.grid>div:nth-child(119){
    background: url(../../public/images/water_bot_left.jpg) !important;
}




.grid>div p:not(.grid>div.empty p){
    color:white;
    font-weight: 600;
    font-size: 90px;
}
.empty{
    position: relative;
    background-color: transparent;
   
    background-size: 80px;

   
}

/*
.grid>div:nth-child(7), .grid>div:nth-child(15), .grid>div:nth-child(29),
.grid>div:nth-child(35), .grid>div:nth-child(43), .grid>div:nth-child(57),
.grid>div:nth-child(63), .grid>div:nth-child(71),  .grid>div:nth-child(85){
    position: relative ;
    z-index: 2;
}
*/


.grid>div:nth-child(25):after,
.grid>div:nth-child(58):after,
.grid>div:nth-child(113):after{
    position: absolute;
    content: '';
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);

    width: 100%;
    max-width: 120px;
    height: 150px;
    z-index: 200;
    background: url('../../public/images/bridge.png') no-repeat;
    background-size: contain;
    background-position: 50%;
}


.grid>div:nth-child(21):after,
.grid>div:nth-child(42):after,
.grid>div:nth-child(46):after,
.grid>div:nth-child(97):after,
.grid>div:nth-child(127):after{
    position: absolute;
    content: '';
    bottom:20%;
    left:50%;
    transform:  translateX(-50%);
    width: 100%;
    max-width: 120px;
    height: 150px;
    z-index: 200;
    background: url('../../public/images/palm.png') no-repeat;
    background-size: contain ;
    background-position: 50%;
}


.grid>div:nth-child(27):after,
.grid>div:nth-child(59):after,
.grid>div:nth-child(72):after,
.grid>div:nth-child(92):after,
.grid>div:nth-child(126):after,
.grid>div:nth-child(133):after,
.grid>div:nth-child(10):after{
    position: absolute;
    content: '';
    bottom:20%;
    left:50%;
    transform:  translateX(-50%);
    width: 100%;
    max-width: 120px;
    height: 150px;
    z-index: 200;
    background: url('../../public/images/palm2.png') no-repeat;
    background-size: contain ;
    background-position: 50%;
}

/*
.grid>div:nth-child(7){
border-radius: 0px 40px 0px 0px;
}
.grid>div:nth-child(21){
    border-radius:  0px 0px 40px  0px ;
}


.grid>div:nth-child(15){
border-radius: 40px 0px  0px 0px;
}
.grid>div:nth-child(29){
border-radius:  0px  0px  0px 40px;
} 


.grid>div:nth-child(35){
border-radius:  0px 40px 0px  0px;
}
.grid>div:nth-child(49){
border-radius:  0px  0px 40px 0px;
}


.grid>div:nth-child(43){
border-radius: 40px 0px  0px 0px;
}
.grid>div:nth-child(57){
border-radius:  0px  0px  0px 40px;
} 
    

.grid>div:nth-child(63){
border-radius:  0px 40px 0px  0px;
}
.grid>div:nth-child(77){
border-radius:  0px  0px 40px 0px;
}
    
    
.grid>div:nth-child(71){
border-radius:  40px 0px  0px  0px;
}
.grid>div:nth-child(85){
border-radius:  0px  0px  0px 40px;
}
*/


/*
.grid>div:nth-child(7) p{
    position: relative;
    bottom: -14%;
    left:-14%;
}
.grid>div:nth-child(21) p{
    position: relative;
    bottom: 14%;
    left:-14%;
}



.grid>div:nth-child(15) p{
    position: relative;
    bottom: -14%;
    left:14%;
}
.grid>div:nth-child(29) p{
    position: relative;
    bottom: 14%;
    left:14%;
}
*/



/*
.grid>div:nth-child(13), .grid>div:nth-child(41){
    background-color: #3399DA;
}
.grid>div:nth-child(13):after, .grid>div:nth-child(41):after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFD062;
    border-radius: 0px 20px 20px 0px;
}
 .grid>div:nth-child(23), .grid>div:nth-child(51){
    background-color: #3399DA;
}
 .grid>div:nth-child(23):after,  .grid>div:nth-child(51):after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #FFD062;
    border-radius: 20px 0px 0px 20px;
}

*/